#planes {
    user-select: none;
}

#reset-button {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

svg {
    border: 1px solid black;
}

circle:hover {
    fill: #888;
}

line {
    stroke-width: 2px;
}

line:hover {
    stroke: #888;
}