#vis {
    display: flex;
}

#control-container {
    display: flex;
    flex-direction: column;
}

svg {
    border: 1px solid black;
}

#reset-button {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    margin: 0 10px;
}

#control-container {
    display: flex;
    flex-direction: column;
}

.sidebar-text {
    margin: 6px;
}

.alpha-bound-legend {
    min-width: 16px;
    height: 16px;
    border: 2px dashed black;
    border-radius: 50%;
    margin-right: 6px;
}

#algorithm {
    max-width: calc(100vw - 850px);
    max-height: 300px;
    overflow: scroll;
    font-size: small;
    position: absolute;
    bottom: 0;
}